@model ServisDeck.Models.Requirement.Requirement

@{
    ViewData["Title"] = "Detail";
}

<div class="bg-white p-4 flex justify-between">
    <h1 class="text-2xl font-bold">Detail požadavku</h1>
    <button id="showModal" class="py-2 px-4 text-white bg-blue-700 hover:bg-blue-800">Upravit požadavek</button>
</div>

@if (TempData["message"] != null)
{
    <div class="bg-red-100 border @TempData["messageColor"] px-4 py-3 rounded relative mt-4" role="alert">
        <span class="block sm:inline">@TempData["message"]</span>
    </div>
}

<div class="bg-white p-4 my-4">
    <div class="grid auto-cols-auto p-4">
        @*NEW LINE*@
        <div class="font-bold py-2">
            @Html.DisplayNameFor(model => model.Subject):
        </div>
        <div class="py-2 lg:col-span-11">
            @Html.DisplayFor(model => model.Subject)
        </div>

        @*NEW LINE*@
        <div class="font-bold py-2">
            @Html.DisplayNameFor(model => model.Room):
        </div>
        <div class="py-2 lg:col-span-3">
            @Html.DisplayFor(model => model.Room)
        </div>
        <div class="font-bold py-2">
            @Html.DisplayNameFor(model => model.Status):
        </div>
        <div class="py-2 lg:col-span-7">
            @Model.GetState()
        </div>
        @*NEW LINE*@
        <div class="font-bold py-2">
            Vytvořil:
        </div>
        <div class="py-2 lg:col-span-3">
            @Html.DisplayFor(model => model.Creator.Name)
        </div>
        <div class="font-bold py-2">
            @Html.DisplayNameFor(model => model.Created):
        </div>
        <div class="py-2 lg:col-span-7">
            @Html.DisplayFor(model => model.Created)
        </div>
        <br />
        <br />
        @*NEW LINE*@
        <div class="font-bold py-2 lg:col-span-12 truncate">
            @Html.DisplayNameFor(model => model.Note):
        </div>
        <div class="py-2 lg:col-span-12 truncate">
            @Html.DisplayFor(model => model.Note)
        </div>
        <br />
        <br />
        @*NEW LINE*@
        <div class="font-bold py-2 lg:col-span-12">
            @Html.DisplayNameFor(model => model.Message)
        </div>
        <div class="py-2 lg:col-span-12">
            @Html.Raw(Model.Message)
        </div>
    </div>
    <br />
    <a class="p-4 my-4 text-blue-700" asp-action="Index">Zpět na seznam</a>
    <br /><br />

        <div id="testModal" style="max-width:670px" hidden>
            <h2 class="text-xl font-bold">Změna požadavku</h2>
            <form class="my-4" method="post" asp-controller="DeckAdmin" asp-action="EditRequirement">
                <input type="hidden" asp-for="@Model.Id" />
                <label asp-for="@Model.Creator.Name" class="font-bold">Vytvořil: </label><label>@Model.Creator.Name</label>
                <label asp-for="@Model.Subject" class="block text-gray-700 text-sm font-bold my-2"></label>
                <input type="text" asp-for="@Model.Subject" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Předmět požadavku">
                <span class="text-sm text-red-500 my-2" asp-validation-for="@Model.Subject"></span>
                <label asp-for="@Model.Room" class="block text-gray-700 text-sm font-bold my-2"></label>
                <input type="text" asp-for="@Model.Room" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Název účebny">
                <span class="text-sm text-red-500 my-2" asp-validation-for="@Model.Room"></span>
                <label asp-for="@Model.Note" class="block text-gray-700 text-sm font-bold my-2"></label>
                <input type="text" asp-for="@Model.Note" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Poznámka">
                <span class="text-sm text-red-500 my-2" asp-validation-for="@Model.Note"></span>
                <label asp-for="@Model.Status" class="block text-gray-700 text-sm font-bold my-2"></label>
                <select asp-for="@Model.Status" asp-items="@ViewBag.StateList" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </select>
                <label asp-for="@Model.Message" class="block text-gray-700 text-sm font-bold my-2"></label>
                <textarea asp-for="@Model.Message" class="tiny shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Zpráva"></textarea>
                <span class="text-sm text-red-500 my-2" asp-validation-for="@Model.Message"></span>
                <input id="submitRequest" type="submit" value="Aktualizovat požadavek" class="py-2 px-4 mt-4 text-white bg-blue-700 hover:bg-blue-800 cursor-pointer" />
            </form>
        </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/tinymce/tinymce.min.js"></script>
    <script>
        $(document).ready(function () {

            tinymce.init({
                selector: 'textarea.tiny',
                height: "300",
                dialog_type: "modal",
                language: 'cs'
            });

            $("#showModal").click((e) => {
                tinymce.activeEditor.destroy();

                console.log("clicked")
                $("#testModal").modal({
                    clickClose: false
                });
                
                tinymce.init({
                    selector: 'textarea.tiny',
                    height: "300",
                    dialog_type: "modal",
                    language: 'cs'
                });
            })
        });
    </script>
}